*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #b9a8c4 ;
}
/* para cuadrar imagen del logo */
img {
  width: 120px;
  height: auto;
  margin-left: auto;
}

/* Barra superior */
.barra-superior {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  background: linear-gradient(to right, #f0e1bc, #f0c2be);
  height: 65px;
  box-shadow: 0 3px 5px rgba(26, 21, 21, 0.2);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 55px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.Menu{
    height: 100%;
    width: 200px;
    position: absolute;
    background: linear-gradient(to bottom, #ffffff,#f0c2be , #6C557A);
    transition: 0.5s ease;
    transform: translateX(-200px);
    font-size: 20px;
    margin-top: -81px;
}

h1{
 color: #6C557A;
 font-weight: 800;
 text-align: right;
 padding: 10px 0;
 padding-right: 30px;
 pointer-events: none;
}

ul li{
    list-style: none;
}

ul li a{
    color: #6C557A;
    font-weight: 500;
    padding: 9px 0;
    display: flex;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    gap: 10px;
    font-size: 20px;
}

ul li:hover a{
    color: #f0c2be;
    background-color: #6C557A;
}

ul li a i{
    color: #6C557A;
    min-width: 25px;
    text-align: center;
}


.lineas-check{
    display: none;
}


.Lineas{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px;
    background-color: #E6D6AD;
    box-shadow: 0 0 10px #6C557A;
}

.Lineas .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #6C557A;
    border-radius: 50px;
    transition: 0.3s ease;
}

.Lineas .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Lineas .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.Lineas .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input:checked ~ .Lineas .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .Lineas .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}


input:checked ~ .Lineas .middle_line{
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~.Menu{
    transform: translateX(0);
    box-shadow: 0 0 15px #6C557A;
}

.Titulo{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #f0c2be;
    margin-top: 80px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px, #6C557A 0 0 1em, #6C557A 0 0 0.2em;
}

hr{
    border: none;
    border-top: 1px solid #411e02;
    margin: 10px 0;
    height: 2px;
    margin-bottom: 20px;
}

.dia-container{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to right, #6c557a, #f0c2be);
    border-radius: 10px;
    margin-top: 40px ;
    height: 250;
}

.calendario-container {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to right, #6c557a, #f0c2be);
    border-radius: 10px;
    margin-top: 40px ;
    height: 250;

}
.chart-card{
    margin: auto;



}
.Botones a{
    height: 40px;
    font-size: 28px;
    width:40%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 25%;
    background-color: #E6D6AD;
    color: #76357c; 
    border-radius: 5px;
    box-shadow: 5px 3px 5px #6C557A; 
}