*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 html, body {
  background-color: #fffefe !important; /* Fuerza fondo blanco */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


.barra-superior_2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  background: linear-gradient(to right, #33348a, #809fe1);
  height: 65px;
  box-shadow: 0 3px 5px #809fe1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 55px;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
}

.logo2 {
  height: 90px;
  margin-left:  310px;
  padding: 0;
  object-fit: contain;  /* mantiene proporci贸n de la imagen */
}


.MenuRegistro2{
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0px;
  left: 0;
  background: linear-gradient(to bottom, #ffffff,#809fe1 , #33348a);
  transition: 0.5s ease;
  transform: translateX(-200px);
  font-size: 20px;
}

.menu2{
  color: #33348a;
  font-family: 'Times New Roman', Times, serif;
  text-align: right;
  padding: 10px 0;
  padding-right: 10px;
  pointer-events: none;
  font-size: 50px;
}

.ul2 li{
    list-style: none;
}

.ul2 li a{
    color: #33348a;
    font-weight: 500;
    padding: 9px 0;
    display: flex;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    gap: 10px;
    font-size: 20px;
}

.ul2 li:hover a{
    color: rgb(235, 231, 231);
    background-color: #809fe1;
}

.ul2 li a i{
    color: #33348a;
    min-width: 25px;
    text-align: center;
}


.lineas-check{
    display: none;
}


.Lineas2{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 2;
    cursor: pointer;
    border-radius: 5px;
    background-color: #809fe1;
    box-shadow: 0 0 10px #ffffff;
}

.Lineas2 .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #33348a;
    border-radius: 50px;
    transition: 0.3s ease;
}

.Lineas2 .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Lineas2 .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.Lineas2 .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input:checked ~ .Lineas2 .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .Lineas2 .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}


input:checked ~ .Lineas2 .middle_line{
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~.MenuRegistro2{
    transform: translateX(0);
    box-shadow: 0 0 15px #4b4a4a;
}
/*DEMAS*/ 

.Titulo2{
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color: #33348a;
  margin-top: 1700px;
  margin-bottom: 40px;
  text-shadow: 1px 1px 2px, #809fe1 0 0 1em, #33348a 0 0 0.2em;
}

.hr2{
  border: none;
  border-top: 1px solid  #17057c;
  margin: 10px 0;
  height: 3px;
  margin-bottom: 40px;
}

/* Tabla */

.Container02 {
  align-items: center;
  background: linear-gradient(to right, #809fe1, #33348a);
  padding: 10px 10px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  justify-content: center;
  margin: 30px;
  overflow-x: auto;
  width: 85%;
  box-sizing: border-box; /* Esta l铆nea ayuda mucho */
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: auto;
  text-align: center;
  table-layout: fixed; /* <- Esto */
}

th, td {
  border: none;
  padding: 12px 8px; /* Menos padding horizontal */
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: #120750;
}

th {
    background: #d8e2ee;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}


/* Bot贸n */
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-container button {
    padding: 12px;
    font-size: 22px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to right, #809fe1, #33348a);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    width: 65%;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn-container button:hover {
    background: linear-gradient(to right, #33348a, #809fe1);
}


/*MODAL*/

/* Fondo oscuro del modal */
#modal {
  display: none; 
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

/* Caja del modal */
.modal-content {
  background: linear-gradient(to right, #809fe1, #33348a);
  border: 2px solid #0c013f;
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  text-align: center;
  font-family: "Impact", "Arial Black", sans-serif;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


.modal-content h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #120750;
}


.preview-img,
#previewImg {
  width: 150px;
  height: 150px;
  border: 2px dashed #6c63ff; /*  estilo de "谩rea clickeable" */
  border-radius: 10px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  background: #f9f9f9;
  cursor: pointer;
}

#imagenInput {
  display: none; /*  escondemos el input */
}

/* Inputs */
.modal-content input[type="text"],
.modal-content input[type="number"] {
  width: 85%;
  padding: 8px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 0;
  background: #b0c9e7;
  color: #120750;
}

/* Botones */
.modal-content button {
  width: 85%;
  padding: 10px;
  margin-top: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
}

/* Bot贸n principal */
.btn-primary {
  background: #1405a0;
  color: #ffffff;
}

.btn-primary:hover {
  background: #4042e9;
}

/* Bot贸n secundario */
.btn-secondary {
  background: #dcdcdc;
  color: #000000;
}

.btn-secondary:hover {
  background: #c0b3e4;
}

/* ICONP DE EDITAR*/
.edit-icon {
  margin-left: 10px;
  color: #b8b9fa;
  cursor: pointer;
  transition: color 0.3s;
}
.edit-icon:hover {
  color: #2463eb;
}

/* Fondo oscuro (agregar y editar usan el mismo estilo) */
#modal, #modalEditar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

/* Caja del modal (compartida para ambos) */
.modal-content {
  background: linear-gradient(to right, #809fe1, #33348a);
  border: 2px solid #0c013f;
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  text-align: center;
  font-family: "Impact", "Arial Black", sans-serif;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Buscar */
input{
  width: 70%;
  padding: 13px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 35px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px #060124;
  background: #85a8e9;
  color: #000000;

}

input::placeholder{
  color: #242222;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.LupitaBusc{
  width: 20%;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  background-color: #7492ca;
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 5px #060124;
}